node_modules
dist
release
build
out
.DS_Store
*.log
.env
settings.json
maestros_convertido.txt
# Ignorar perfiles de navegador
*_user_data
scrapers/*_user_data
scrapers/monroe_user_data
# Sacar carpeta DB
DB/